---
import Header from '../components/Header.astro';
import ThemeButton from '../components/ThemeButton.astro';
import '../styles/global.css';
---
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>MiniMaths</title>
</head>

  <body>
    <Header />
    <main class="container">
      <h2>Choisis un thème</h2>
<ThemeButton name="Fractions" link="/fractions" />
<ThemeButton name="Puissances" link="/puissances" />
<ThemeButton name="Statistiques" link="/statistiques" />
      <a href="/mentions-legales" class="btn">Mentions légales</a>

      <p style="text-align: center; font-size: 0.9rem; color: gray; margin-top: 2rem;">
        Contenus sous licence <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC 4.0</a> – MiniMaths © 2025
      </p>

    </main>
  </body>
</html>
