---
import Header from '../components/Header.astro';
import ThemeButton from '../components/ThemeButton.astro';
import '../styles/global.css';
---
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>MiniMaths</title>
</head>

  <body>
    <Header />
    <main class="container">
      <h2>Choisis un thème</h2>
<ThemeButton name="Fractions" link="/fractions" />
<ThemeButton name="Puissances" link="/puissances" />
<ThemeButton name="Statistiques" link="/statistiques" />
    </main>
  </body>
</html>
